a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1px;
  color: #000;
  background-color: #fff;
}

.header,
.inner,
.menu__item,
.center,
.descr {
  display: flex;
  justify-content: space-around;
}

.header {
  min-height: calc(100vh - 20px);
  flex-direction: column;
}

.wrap {
  max-width: 1050px;
  padding: 0 10px;
  margin: 0 auto;
}

.inner {
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-size: 28px;
  color: #fff;
  padding: 0 50px;
  border-radius: 27px;
  background-color: #e76464;
  margin-bottom: 6px;
  transition: background 0.5s ease;
}

.logo:hover {
  background-color: #777;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.header__link:not(:last-child) {
  margin-right: 25px;
}

.header__link {
  fill: #e76464;
  transition: fill 0.3s ease;
}

.header__link:hover {
  fill: #777;
}

.center {
  align-items: center;
}

.descr {
  flex-direction: column;
}

.descr,
.pic {
  padding: 0 10px;
}

.doc {
  max-width: 700px;
}

.title {
  font-weight: 400;
  margin-bottom: 20px;
}

.title--btm {
  color: #e76464;
  text-transform: capitalize;
}

.header__item {
  padding-left: 40px;
}

.header__job,
.footer__link {
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.header__list:not(:last-child) {
  margin-bottom: 5px;
}

.header__job {
  color: #2278e9;
}

.header__job:hover {
  color: #e76464
}

.my__name {
  display: flex;
  justify-content: space-around;
}

.footer {
  padding: 5px 0;
  background-color: #e76464;
}

@media (max-width: 940px) {
  .inner {
    padding-top: 30px;
  }

  .header {
    display: initial;
  }

  .header__item {
    margin-bottom: 50px;
  }
  
  .center,
  .my__name {
    padding: 50px 0;
    flex-wrap: wrap;
  }

  .descr,
  .pic {
    margin-bottom: 30px;
  }

  .doc {
    padding: 0;
  }

  .footer {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .inner {
    margin-bottom: 15px;
  }

  .title {
    font-size: 34px;
  }

  .header__list,
  .doc {
    font-size: 15px;
  }

  .header__list:not(:last-child) {
    margin-bottom: 10px;
  }

  .center,
  .my__name {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 28px;
  }

  .header__item {
    padding-left: 30px;
    margin-bottom: 30px;
  }

  .pic {
    margin-bottom: 5px;
  }

  .header__link:not(:last-child) {
  margin-right: 10px;
}
}
